{
  "firebase": {
    "apiKey": 'xyz',
    "authDomain": 'YOUR-FIREBASE-APP.firebaseapp.com',
    "databaseURL": 'https://YOUR-FIREBASE-APP.firebaseio.com',
    "projectId": "YOUR-FIREBASE-APP",
    "storageBucket": 'YOUR-FIREBASE-APP.appspot.com',
    "messagingSenderId": '1234'
  }
}
